# Datasets
dataset/
chest_xray/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Large Models (if not using Git LFS)
# pneumonia_model.h5
